:root {
    --dark-bg-color: rgb(240,237,229);
    --light-bg-color: rgb(249,248,244);
    --purple-accent: rgb(222,64,198);
}

html {
    height: 100vh;
}

body {
    /* height: 100vh; */
    overflow: auto;
    background-color: var(--dark-bg-color);
}

body,
button,
select,
input {
    font-family: 'Ibarra Real Nova', serif;
}

.column {
    /* background-color: var(--light-bg-color); */
}

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: var(--purple-accent);
}

.container {
    height: 100vh;
}

.winner {
    color: var(--purple-accent);
}

.loser {
    color: gray;
}

span#blinker {
    border: 1px black solid;
    animation: blinker 1s linear infinite;
}


.hide {
    display: none;
}

#circle-container {
    /* border: 1px black solid; */
    height: 6em;
    width: 6em;
    text-justify: auto;
    text-align: center;
}

#circle-container #circle {
    position: relative;
    top: -100%;
    /* background-color: hsl(204, 71%, 53%); */
    background-color: var(--purple-accent);
    opacity: .8;
    border-radius: 50%;
    height: 100%;
    width: 100%; 
    z-index: 1;
}
#circle-container #text{
    position: relative;
    z-index: 2;
    font-size: 5em;
    text-align: center;
    height: 100px;
}
#circle-container #text span {
    color: rgb(214, 96, 0);
}

button#reset {
    background-color: #FF006E;
}

.shrink {
    transform: scale(0);
    transition: transform 15s linear;
}

.grow {
    transform: scale(1.5);
    transition: transform 3s linear;
}

@keyframes blinker{
    50% {opacity: 0}
}

/* @keyframes shrink {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
} */